converted_data/
sorted_data/
errors/
annotations/
Images/
.ipynb_checkpoints/

\.idea/

__pycache__/

sus_GeneData\.csv

res_GeneData\.csv

scratch.py

data_source_csv.csv

data_source.xlsx

antibiotic_resistance_csv.csv

antibiotic_resistance.xlsx
